/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 14, 2025, 9:29:11 AM
    Author     : Cash
*/
.container {
    background: linear-gradient(to bottom right, #fdfdfd, #13538b);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

hr {
    border: none;
    border-top: 2px solid #020507;
    width: 90%;
    margin: 20px 0;
}


h1, h2, h3, p {
    text-align: center;
}

h1 {
    color: #020507;
    font-size: 28px;
    margin-bottom: 30px;
}

h2 {
    color: #060136;
    margin-top: 30px;
    margin-bottom: 15px;
}

h3 {
    color: #090316;
    margin-bottom: 5px;
}

.section {
    width: 85%;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fdfefe;
    border-radius: 12px;
}

.section:hover {
    transform: scale(1.1);
    transition: background 0.5s ease, transform 0.4s ease;
    background-color: #1a4cb8;
}

.progress-container {
    background-color: #ddd;
    border-radius: 6px;
    overflow: hidden;
    height: 10px;
    width: 100%;
    margin-top: 6px;
}

.progress {
    height: 100%;
    background-color: #00f38e;
}

.btn, .logout-button {
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover,
.logout-button:hover {
    transform: scale(1.03);
    background-color: #d0eaf8;
}

.primary-btn {
    background-color: #4CAF50;
    color: white;
}

.primary-btn:hover {
    background-color: #45a049;
}

.emergency-btn {
    background-color: #d0d7de;
    color: rgb(0, 0, 0);
}

.emergency-btn:hover {
    background-color: #fc0202;
}

.logout-button {
    background-color: #2c3e50;
    color: white;
    font-size: 18px;
    margin-top: 40px;
    width: 100%;
    max-width: 400px;
}

.logout-button:hover {
    background-color: #fc0202;
}

  
